<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Test Condition">
        <classes>
            <class name="login.LoginTests"/>
            <class name="upload.UploadTests"/>
            <class name="checkBox.CheckBoxTests"/>
            <class name="wait.DynamicLoadingTests"/>
            <class name="dropdown.DropdownTests"/>
        </classes>
    </test>


</suite>